body {
  background-color: #000000;
  margin: 0;
  font-family: 'Bungee', sans-serif;
}

.header-wrapper {
  border-radius: 20px;
  background: white;
  margin: 24px;
}

header {
  background-color: #ffffff;
  border-radius: 17px;
  box-sizing: border-box;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.nav_logo {
  width: 220px;
  height: auto;
}

.nav-list {
  display: flex;
  gap: 70px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

.nav-list li {
  text-align: center;
}

.nav-list a {
  color: rgb(25, 25, 25);
  text-decoration: none;
  font-size: 24px;
  position: relative;
  transition: color 0.3s;
}

.nav-list a:hover {
  color: black;
}

.bag {
  width: 50px;
  height: auto;
}




/* ----------------hero------------ */

.image-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  gap: 115px;
}

.big-image img {
  width: 430px;
  height: auto;
  border-radius: 30px;
}

.right-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.image-text {
  color: white;
  font-size: 64px;
  margin-bottom: 20px;
  font-family: 'Bungee', sans-serif;
  text-align: left;
  margin-left: 80px;
}

.small-image {
  width: 380px;
  height: auto;
  border-radius: 10px;
}
